public/xsd/products.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="products">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="product" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string"/>
                            <xs:element name="sku" type="xs:string" minOccurs="0"/>
                            <xs:element name="category" type="xs:string"/>
                            <xs:element name="price" type="xs:decimal"/>
                            <xs:element name="stock" type="xs:integer"/>
                            <xs:element name="minStock" type="xs:integer" minOccurs="0"/>
                            <xs:element name="manufacturer" type="xs:string" minOccurs="0"/>
                            <xs:element name="status" type="xs:string"/>
                            <xs:element name="image" type="xs:anyURI"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
